body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(197, 195, 238) 0%, rgb(195, 216, 195) 35%, rgb(238, 240, 231) 100%);
}
#MainDiv{

    background-color: white;
    margin: 45px;
}
#taskname{
   
    display: inline;
    width: 70%;
}
#listTodo{
    margin: 20px;
}
li{
    list-style: none;
    display: inline;
    margin: 15px;
}
i{
    color: red;
}